<ion-content>



  <h3>Administracion de usuarios</h3>


  <table border="1" *ngIf="hayRegistros(); else sinarticulos">
    <tr>
      <td>Nombre</td><td>Ap Pat</td><td>Ap Mat</td><td>Correo</td><td>Contraseña</td><td>Dirección</td><td>Num Teléfono</td><td>Borrar</td><td>Seleccionar</td>
    </tr>
    <tr *ngFor="let art of articulos">
      <td>{{art.nombre}}</td>
      <td>{{art.apaterno}}</td>
      <td>{{art.amaterno}}</td>
      <td>{{art.correo}}</td>
      <td>{{art.pssw}}</td>
      <td>{{art.direccion}}</td>
      <td>{{art.numero}}</td>
      <td><button (click)="baja(art.codigo)">Borrar?</button></td>
      <td><button (click)="seleccionar(art.codigo)">Seleccionar</button></td>        
    </tr>
  </table>
  <ng-container>
  </ng-container>
  <ng-template #sinarticulos>
    <p>No hay articulos.</p></ng-template>
  <p>ingresar usuario</p>
  <ion-input type="text" [(ngModel)]="art.nombre">nombre</ion-input>
  <ion-input type="text" [(ngModel)]="art.apaterno">ap paterno</ion-input>
  <ion-input type="text" [(ngModel)]="art.amaterno">ap materno</ion-input>
  <ion-input type="text" [(ngModel)]="art.correo">correo</ion-input>
  <ion-input type="password" [(ngModel)]="art.pssw">contraseña</ion-input>
  <ion-input type="text" [(ngModel)]="art.direccion">direccion</ion-input>
  <ion-input type="text" [(ngModel)]="art.num">numero</ion-input>
  <ion-button (click)="alta()">Agregar</ion-button>
</ion-content>
